node_modules
.next
.env*
!.env.example
.r2-migration/
*.json
*.txt
*.bin
*.b64
*.sha
*.tsbuildinfo
*.js
*.png
!next.config.js
!package.json
!package-lock.json
!tsconfig.json
!data/*.json
!app/**/*.tsx
!app/**/*.css
!public/**/*
!assets/**/*
!lib/**/*.ts
!lib/**/*.tsx
